.antLayout{
  background-image: url('https://gw.alipayobjects.com/zos/rmsportal/TVYTbAXWheQpRcWDaDMu.svg')!important;
  background-repeat: no-repeat!important;
  background-position: center 64px!important;
  background-size: 100%!important;
  .antLayoutHeader{
    background: none!important;
    display: flex;
    justify-content: flex-end;
  }
  .loginForm{
    width: 300px;
    .loginFormButton{
      width: 100%;
    }
  }
  .antLangoutFooter{
    background: none!important;
  }
}