*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body,#root,.ant-layout-has-sider,.ant-layout{
  width: 100%;
  height: 100%;
}

.flexCenter{
  display: flex;
  align-items: center;
  justify-content: center;
}

.f34{
  font-size: 34px;
}

.colorBlack{
  color: rgba(0,0,0,1)
}

.fontWightBold{
  font-weight: bold;
}