// 设置dom盒子模型
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// 设置页面与浏览器视窗宽高一致
html,body,#root,.ant-layout-has-sider,.ant-layout{
  width: 100%;
  height: 100%;
}

//------------ 颜色变量 ------------
@titleBg: #3AB17A;
//------------  end ----------------

//------------ common --------------

.main > div {
  background: #fff;
}
.search{
  margin-bottom: 20px;
}
#loading{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: rgba(0,0,0,.45);
  display: flex;
  align-items: center;
  justify-content: center;
}

//----------------------- 标签 ------------------------
// 设置去掉a标签默认样式
a{
  color:rgba(0,0,0,0.85);
}
ul li{
  list-style-type: none;
}
i{
  font-style: normal;
}
// --------------------- flex 相关样式  start -------------------------

// flex垂直居中
.flexCenter{
  display: flex;
  align-items: center;
  justify-content: center;
}
// flex方向
.flexColumn{
  flex-direction: column;
}
// 两边对齐
.flexBetween{
  justify-content: space-between;
}

// ------------------- end --------------------


// ------------------  设置颜色 start -------------------
// 黑色
.colorBlack{
  color: rgba(0,0,0,1)
}
.colorBlack85{
  color: rgba(0,0,0,0.85)
}
// ------------------  end -----------------------------


// ------------------ 设置字体 start -------------------
// 34号字体
.f34{
  font-size: 34px;
}
.f20{
  font-size: 20px;
}
.f16{
  font-size: 16px;
}
// ------------------  end -----------------------------

// ------------------  设置宽度 start -------------------
// 宽度100
.w100{
  width: 100px;
}
// ------------------  end -----------------------------

// ------------------  设置padding start ---------------
// v: vertical 垂直  h: horizontal 水平
.ant-layout-header{
  padding: 0 10px;
}
.p20{
  padding: 20px;
}
.pl10{
  padding-left: 10px;
}
.pr10{
  padding-right: 10px;
}
.pv10h20{
  padding: 10px 20px;
}
.pv0h20{
  padding: 0 20px;
}
.pr15{
  padding-right: 15px;
}
.pv0h8{
  padding: 0px 8px;
}
.pv8h0{
  padding: 8px 0;
}
// ------------------  end  ----------------------------

// ------------------  设置font-weight start -----------
// 加粗
.fontWightBold{
  font-weight: bold;
}
// ------------------  end  ----------------------------


// ------------------  设置margin start ----------------
// 右间距
.mr10{
  margin-right: 10px;
}
.ml10{
  margin-left: 10px;
}
.mb20{
  margin-bottom: 20px;
}
.mb10{
  margin-bottom: 10px;
}
// 设置子集div左间距10px
.chlidDivML10>div{
  margin-left: 10px;
}
// ------------------  end  ----------------------------


// ------------------ postion start -------------------------
.positionRelative{
  position: relative;
}
// ------------------    end    -------------------------
.point{
  cursor: pointer;
}

// 警告
.ant-btn-dangerous{
  color: #ff4d4f!important;
  background: #fff!important;
  border-color: #ff4d4f!important;
}
.bgWarn{
  background: #ff4d4f!important;
  border-color: #ff4d4f!important;
  color:#fff!important;
}
.title{
  font-size: 16px;
  padding: 10px 20px;
  border-bottom: 1px solid #eee;
}