#pagePlugins{
    display: flex;
}
#pagePlugins .disabled{
    cursor: not-allowed;
}
#pagePlugins .disabled .pageLink{
    color: #6c757d;
}
#pagePlugins .pageLink{
    color: #0056b3;
    padding: 8px 12px;
    border: 1px solid #dee2e6;
    display: block;
    cursor: pointer;
}
#pagePlugins > ul{
    display: flex;
}